@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
  background: #50514F;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  border: 3px solid #fff;
  padding: 10px 20px;
  margin-bottom: 40px;
}

p{
   font-size: 20px;
   text-align: center;
   opacity: 50%;
   height: 250px;
   width: 250px;
   overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  height: 100vh;
}

#result {
  font-size: 36px;
  color: #fff;
}

#ans {
  color: #fff;
  padding: 20px;
  font-size: 26px;
  background: transparent;
  border: 0; 
}

#ans:focus {
  outline: 0;
  outline-offset: 0;
}
